div{
    margin: 100px auto;
    width: 300px;
    text-align: center;
}
input {
    width: 100px;
    height:25px;
    
}
button,input{
    border-radius:5px;
    margin-top:5px;
}
b{
    color: red;
}
body{
    background: #f5f5f5;
}